<% if user_signed_in? %>
	 	<h1>You're Logged In!</h1>
<%else%> 
		<div class="hero-unit">
			<h1>Welcome to The Chef's Kitchen!</h1>
			<p>
			  You've found my home page
			</p>
			<p>
			  <%= link_to "Sign Up Now!", new_user_registration_path, class: "btn btn-primary btn-large" %>
			</p>
	</div>
<% end %>